# Excel bank churn analysis

![Bank Insights (Excel) Analysis](https://www.universalcreativesolutions.com/Blog%20Images/Reducing%20Customer%20Churn%20Rate.webp)

# 1. Data collection-

In this project, I chose to focus on customer churn in banks, a dynamic and expanding sector. By examining customer demographics and purchasing behaviors, I aim to gain valuable insights into how different customer groups influence retention and profitability. This analysis is crucial for refining marketing strategies and enhancing customer engagement, making it particularly useful for banks looking to optimize their operations and reduce churn.

The (CSV) dataset that I analysed in this project comes from [Radheshyam Kollipara](https://www.kaggle.com/datasets/radheshyamkollipara/bank-customer-churn). This project is focused on excel so firstly I loaded the CSV into excel to preview the data and find out what would be the ideal key insights to extract, and identify the necessary data cleaning steps to ensure effective insights extraction.

In [4]:
# Imports pandas
import pandas as pd

df = pd.read_csv ('Assets/raw_bank_data.csv')

df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Card Type,Point Earned
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1,1,2,DIAMOND,464
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,3,DIAMOND,456
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,1,3,DIAMOND,377
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,5,GOLD,350
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0,5,GOLD,425
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0,0,1,DIAMOND,300
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0,0,5,PLATINUM,771
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1,1,3,SILVER,564
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1,1,2,GOLD,339
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0,0,3,DIAMOND,911

How I would check the number of columns in excel is to select a row number and view the count below

![img](Images/column_count.png)

For the rows, I would select a column letter

![img](Images/row_count.png)

>What this preview tells us about this data frame-

1. There are 10, 000 rows and 18 columns.

2. The columns in the datasets are: RowNumber, CustomerId, Surname, CreditScore, Geography, Gender, Age, Tenure, Balance, NumOfProducts, HasCrCard, IsActiveMember, EstimatedSalary, Exited, Complain, Satisfaction Score, Card Type, Point Earned

# 2. Defining the problems/ goals-

  Looking at this data (primarily the columns), the ideal key insights to extract would be-

1. **What is the distribution of credit scores across different regions (Geography)?**  
   Calculate the average credit score for each region to identify regional trends.

2. **How do age and tenure impact the number of products customers use?**  
   Analyze the average number of products based on age and tenure to identify usage patterns.

3. **Is there a correlation between customer balance and factors like credit score, geography, or tenure?**  
   Examine correlations between customer balance and credit score, geography, or tenure to detect trends.

4. **What are the key differences between male and female customers in terms of credit score, balance, and product usage?**  
   Compare average credit scores, balances, and product usage between genders to identify significant differences.

# 3. Data cleaning-

This data is fairly clean, it just needs better formatting, and a "staging" copy of the original sheet for data integrity and to prevent data loss. So without wasting any time at all, I went straight through this data analysis process.

Firstly, I created a duplicate of the original table to work on only the columns i need, which is displayed below

![img](Images/staging_copy.png)

>Duplicates-

To remove duplicates I used ctrl+A to select the whole table then went to the data tab in the above ribbon, selected data tools, and finally remove duplicates and ok.

Which there were no duplicate values found

![img](Images/dup.png)

>Null values-

With the entire sheet selected still, I went to the insert tab and selected table so I can filter the columns by "blank" cells.

Which none were found.

![img](Images/null.png)

>The data is now clean

I checked for duplicate entries, checked for null values, and filtered out only the relevant columns into a copy table, Now I started extracting insights and visualize them.

# 4. Data analysis

# First question-

1. **What is the distribution of credit scores across different regions (Geography)?**  
   Calculate the average credit score for each region to identify regional trends.
   
For all my insigths below, I utilized pivot tables under the insert tab, and visualized them with a bar chart.

This result pivot table is-

![img](Images/q1.png)

### Conclusion

From the pivot table, we can observe that the average credit scores across the three regions—France, Spain, and Germany—are fairly similar, with Germany having the highest average at **651.45**, followed closely by Spain at **651.33**, and France at **649.67**. Although the differences in credit scores are small, Germany and Spain show slightly higher creditworthiness compared to France. This insight can be useful for tailoring financial services or marketing strategies based on regional credit score trends.

# Second question-

2. **How do age and tenure impact the number of products customers use?**  
   Analyze the average number of products based on age and tenure to identify usage patterns.
   
To make the pivot table more readable, with IF functions I added new columns, Age range, and ,tenure range

![img](Images/age_range.png)

![img](Images/tenure_range.png)

And then the analysis done below

![img](Images/q2.png)

### Conclusion-

The analysis of average product usage reveals interesting patterns based on customer age and tenure. Across all age ranges, the average number of products used is relatively consistent, with younger age groups (20-29) showing slightly higher usage (approximately **1.56 products**) compared to older age groups (50-59) which have lower usage (approximately **1.48 products**). 

In terms of tenure, customers with **1-2 years** of tenure have the highest average product usage across all age ranges, while those with **less than 1 year** of tenure exhibit the lowest usage (approximately **1.44 products** overall). 

Overall, while age appears to have a minimal impact on the average number of products used, tenure seems to play a more significant role, with longer tenure associated with increased product usage. These insights can help tailor marketing strategies to enhance customer engagement, particularly for newer customers.

# Third question

3. **Is there a correlation between customer balance and factors like credit score, geography, or tenure?**  
   Examine correlations between customer balance and credit score, geography, or tenure to detect trends.

Average credit score by tenure and geography:

![img](Images/q3_1st.png)

Average balance by tenure and geography:

![img](Images/q3_2nd.png)

**Conclusion**:

The analysis of credit scores and balances across different geographies and tenure ranges reveals some interesting insights. Overall, the average credit score is highest in Germany (**651.45**), followed closely by Spain (**651.33**) and France (**649.67**). Notably, customers with a tenure of **1-2 years** generally have the highest average credit scores, indicating that newer customers tend to have stronger creditworthiness.

When examining average balances, Germany also stands out with the highest figures across all tenure ranges, particularly for customers with **1-2 years** of tenure, averaging **119,095.92**. In contrast, Spain exhibits lower average balances, particularly among customers with **3-4 years** of tenure, averaging **59,710.61**.

The overall trend suggests that longer tenure correlates with higher balances and stable credit scores, especially in Germany. This indicates that customers tend to build stronger financial profiles over time, reinforcing the importance of customer retention strategies for enhancing overall financial health. Understanding these dynamics can assist financial institutions in tailoring their offerings to meet the needs of different customer segments effectively.

# Fourth question-

4. **What are the key differences between male and female customers in terms of credit score, balance, and product usage?**  
   With a pivot table, I compared average credit scores, balances, and product usage between genders to identify significant differences.

![img](Images/q4.png)

### Conclusion:

The analysis shows that female customers have a slightly higher average balance (**₹75,659.37**) compared to male customers (**₹77,173.97**). In terms of credit score, females have a marginally higher average score (**650.83**) compared to males (**650.28**). Additionally, females use more products on average (**1.54 products**) than males (**1.52 products**). These findings suggest that while the differences between genders are subtle, female customers may have slightly higher financial engagement, potentially indicating more involvement in the bank’s offerings. This insight can be valuable for developing gender-specific marketing strategies and service enhancements.

# Summary:

This project examines customer data to identify key trends in credit scores, product usage, customer balances, and demographic factors such as gender and geography. The analysis provides valuable insights for optimizing marketing strategies and customer engagement efforts.

1. **Credit Score Distribution by Geography**  
   The average credit scores across France, Spain, and Germany are similar, with Germany showing the highest average at **651.45**, followed by Spain (**651.33**) and France (**649.67**). Though differences are small, this insight can be leveraged to tailor region-specific financial services, especially in regions with higher creditworthiness.

2. **Impact of Age and Tenure on Product Usage**  
   Customers with **1-2 years** of tenure consistently have higher product usage across all age groups, with younger customers (20-29) using slightly more products (**1.56 products**) than older customers (50-59). Tenure has a more pronounced effect on product usage, with shorter-tenured customers using fewer products. This suggests that banks could focus on engaging new customers to increase product adoption early in their relationship.

3. **Correlation Between Balance and Factors like Credit Score, Geography, and Tenure**  
   Longer tenure is associated with higher balances, particularly in Germany, where customers with **1-2 years** of tenure hold the highest average balance (**₹119,095.92**). The correlation between geography and balance suggests that German customers are likely to hold more wealth over time. Understanding these patterns helps financial institutions focus retention strategies on high-value customers.

4. **Key Differences Between Male and Female Customers**  
   Female customers have a slightly higher average balance (**₹75,659.37**) compared to male customers (**₹77,173.97**). Females also have a slightly higher average credit score (**650.83**) and product usage (**1.54 products**) than males. These differences, though subtle, suggest that female customers may be more engaged with banking products, presenting opportunities for gender-targeted marketing campaigns.  

These findings highlight the importance of customer demographics, tenure, and geography in shaping customer behaviors and provide actionable insights for improving customer segmentation, engagement, and profitability in the banking sector.

# Thank you for your time

If you have any suggestions to what I should add or edit to this project feel free to comment on it, I will accredit any suggestions if so desired.  Any input is appreciated.